﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReactCrudDemo</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.android.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.arctic.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.black.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.classic.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.darkblue.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.energyblue.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.fresh.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.highcontrast.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.metro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.metrodark.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.office.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.orange.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.shinyblack.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.summer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.web.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.ui-lightness.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.ui-le-frog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.ui-overcast.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.ui-darkness.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.ui-redmond.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.ui-smoothness.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.jqx.ui-start.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/jqwidgets/styles/jqx.ui-sunny.css" asp-append-version="true" />

    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxcore.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxgrid.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxgrid.selection.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxgrid.pager.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxlistbox.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxbuttons.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxscrollbar.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxdatatable.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxtreegrid.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxmenu.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxcalendar.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxgrid.sort.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxgrid.filter.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxdatetimeinput.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxdropdownlist.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxslider.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxeditor.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxinput.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxdraw.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxchart.core.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxchart.rangeselector.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxtree.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/globalization/globalize.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxbulletchart.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxcheckbox.js" asp-append-version="true"></script> 
    <script src="~/dist/jqwidgets/jqxradiobutton.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxvalidator.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxpanel.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxpasswordinput.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxnumberinput.js" asp-append-version="true"></script>
    <script src="~/dist/jqwidgets/jqxcombobox.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
